name: Traefik Forward Auth
on: [push]
jobs:
  test:
    name: Test with Go version -
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go: ['1.19']

    steps:
      - uses: actions/checkout@v1

      - name: Setup Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}

      - name: Run Tests
        run: go test ./...
